Repository mach3-software/MaCh3Tutorial, changes with the labels that .github/labeler.yml gives for each.
All labels: Validations, Tutorial, Documentation, Cmake, CI/CD, python

weird covnersion
  .mailmap
Labels: none

no comment...
  README.md
Labels: none

Make Image on Tag
  .github/workflows/CDImage.yml
Labels: CI/CD

Check implementation of Covariance factory
  Apps/FitterValidations.cpp
  CMakeLists.txt
  Inputs/ManagerTest.yaml
Labels: Validations, Cmake

Try linter
  .github/workflows/Linter.yml
Labels: CI/CD

forgot here we use main
  .github/workflows/Linter.yml
Labels: CI/CD

ups
  CMakeLists.txt
Labels: Cmake

Bump MaCh3Tutorial_VERSION to 1.2.0
  CMakeLists.txt
Labels: Cmake

add fancy description to tutorial cotnianer as well
  .github/workflows/CDImage.yml
  Doc/DockerFiles/Alma9/Dockerfile
Labels: Documentation, CI/CD

This is what you get for coping actions from main MaCh3...
  .github/workflows/CDImage.yml
Labels: CI/CD

fix to work with other shells than bash
  cmake/Templates/setup.MaCh3Tutorial.sh.in
Labels: Cmake

Fixign NuMCMC Tool CI from frecciarossa. They calim to have fast wifi but it is a lie...
  Apps/NuMCMCconversion.cpp
  Apps/TestNuMCMC.py
  CMakeLists.txt
Labels: Validations, Cmake, python

Start testing start from previous chain
  Apps/FitterValidations.cpp
Labels: Validations

App->CIValidaitions and some tweaks to NuMCMC Tool converter to make it more flexible
  Apps/NuMCMCconversion.cpp
  CIValidations/CMakeLists.txt
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/NuMCMCconversion.cpp
  CIValidations/NuMCMCvalidations.sh
  CIValidations/Scripts/CreateSplineFile.cpp
  CIValidations/Scripts/FilterFiles.cpp
  CIValidations/SplineValidations.cpp
  CIValidations/TestNuMCMC.py
  CIValidations/TestOutputs/CovarianceOut.txt
  CIValidations/TestOutputs/MaCh3ModeOut.txt
  CIValidations/TestOutputs/SplineMonoOut.txt
  CMakeLists.txt
Labels: Validations, Cmake, python

remove comments
  CIValidations/NuMCMCconversion.cpp
Labels: none

Missed this one...
  CIValidations/CovarianceValidations.cpp
Labels: none

This as well
  CIValidations/MaCh3ModeValidations.cpp
Labels: none

Arghh
  CIValidations/SplineValidations.cpp
Labels: none

sad...
  cmake/Templates/setup.MaCh3Tutorial.sh.in
Labels: Cmake

update config
  Tutorial/TutorialDiagConfig.yaml
Labels: Tutorial

Start addin sample to Tutorial, it compiles, just need one missing input
  CIValidations/CMakeLists.txt
  CIValidations/SamplePDFValidations.cpp
  CMakeLists.txt
  Inputs/NuOscillator/CUDAProb3Linear.yaml
  Inputs/SamplePDF_Tutorial.yaml
  Tutorial/CMakeLists.txt
  Utils/CMakeLists.txt
  samplePDF/CMakeLists.txt
  samplePDF/StructsTutorial.h
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: Tutorial, Cmake

It actually works
  CIValidations/SamplePDFValidations.cpp
  samplePDF/samplePDFTutorial.cpp
Labels: none

expand sample CI
  CIValidations/FitterValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  CIValidations/TestOutputs/SampleOut.txt
  Inputs/ManagerTest.yaml
  Tutorial/CMakeLists.txt
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
  samplePDF/StructsTutorial.h
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: Tutorial

make some which slaces better
  CIValidations/SamplePDFValidations.cpp
Labels: none

let's compare each weight idnsicudally
  CIValidations/SamplePDFValidations.cpp
  samplePDF/StructsTutorial.h
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: none

Remove ROOT dependence, let MaCh3 set it up, we don't explicitly link to ROOT
  CMakeLists.txt
Labels: Cmake

update validator to use int instead of _int_ from MaCh3
  Utils/SplineMonoUtils.cpp
Labels: none

use mach3 standard
  CMakeLists.txt
Labels: Cmake

...
  CMakeLists.txt
Labels: Cmake

if MACH3_CXX_STANDARD global property is defined, use that, otherwise 14
  CMakeLists.txt
Labels: Cmake

Don\t use capiatal letters
  .github/workflows/CDImage.yml
Labels: CI/CD

adds NuOscillatorInterfaceValidations
  .gitignore
  CIValidations/CMakeLists.txt
  CIValidations/NuOscillatorInterfaceValidations.cpp
  CIValidations/TestOutputs/NuOscOut.txt
Labels: none

Adds simple Catch2 test of a YAMLHelper function
  CIValidations/CMakeLists.txt
  CIValidations/UnitTests/CMakeLists.txt
  CIValidations/UnitTests/manager_tests.cpp
  CMakeLists.txt
Labels: Cmake

makes unit tests optional
  CIValidations/CMakeLists.txt
  CMakeLists.txt
Labels: Cmake

reduces precision of checks in NuOscillatorInterfaceValidations
  CIValidations/NuOscillatorInterfaceValidations.cpp
  CIValidations/TestOutputs/NuOscOut.txt
Labels: none

update to MaCh3 using vectors and use auto for MCSamples type to avoid name dep.
  samplePDF/samplePDFTutorial.cpp
Labels: none

sliglhy change how we bump version after Luke changes
  .github/workflows/BumpVersion.yml
  CMakeLists.txt
Labels: Cmake, CI/CD

use new factory
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial

Update Dockerfile
  Doc/DockerFiles/Alma9/Dockerfile
Labels: Documentation

Allow using NuFast at tutorial
  CIValidations/NuOscillatorInterfaceValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  CIValidations/TestOutputs/NuOscOut.txt
  Inputs/ManagerTest.yaml
  Inputs/NuOscillator/NuFASTLinear.yaml
  Inputs/Osc_Test.yaml
  Inputs/SamplePDF_Tutorial.yaml
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial

.github/labeler.yml:

# For more see: https://github.com/actions/labeler?tab=readme-ov-file#pull-request-labeler
Validations:
  - changed-files:
      - any-glob-to-any-file: 
          - Apps/**

Tutorial:
  - changed-files:
      - any-glob-to-any-file:
          - Tutorial/**

Documentation:
  - changed-files:
      - any-glob-to-any-file: 
          - Doc/**
Cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**
          - CMakeLists.txt

CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

python:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.py'
