Repository mach3-software/MaCh3Tutorial, changes with the labels that .github/labeler.yml gives for each.
All labels: Validations, Tutorial, Documentation, Cmake, CI/CD, python

enable :bee: in CI
  CIValidations/FitterValidations.cpp
  Inputs/ManagerTest.yaml
Labels: none

Udpate config
  Tutorial/TutorialDiagConfig.yaml
Labels: Tutorial

Missed this one...
  CIValidations/CovarianceValidations.cpp
Labels: none

Reformat the PCA test to use what I believe to be the correct syntax for KinematicCuts
  Inputs/PCATest.yaml
Labels: none

HornCurrent & NeutrinoFlavourUnosc should be vectors
  Inputs/PCATest.yaml
Labels: none

add some high level tests of pyMaCh3
  CIValidations/PythonTests/__init__.py
  CIValidations/PythonTests/conftest.py
  CIValidations/PythonTests/test_fitter_sample_pdf.py
  CIValidations/PythonTests/test_fitter_stat_only.py
  CIValidations/PythonTests/test_spline_monolith.py
Labels: python

add some more tests of splines
  CIValidations/PythonTests/test_spline_monolith.py
Labels: python

better name
  CIValidations/PythonTests/test_splines.py
Labels: python

Spline names in systematics yaml were wrong
  Inputs/SystematicsTest.yaml
Labels: none

requirements for python tests
  CIValidations/PythonTests/requirements.txt
Labels: none

Descuirbe how to implemnt new samples and gnerally imrpove tutorial
  CIValidations/FitterValidations.cpp
  Inputs/ManagerTest.yaml
  README.md
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial

thanks linter bot
  README.md
Labels: none

thanks again linter bot
  README.md
Labels: none

trying to expand turtorial
  .github/workflows/CIPythonValidations.yml
  .github/workflows/CIValidations.yml
  README.md
Labels: CI/CD

Update README.md
  README.md
Labels: none

furhter expand tutorial
  README.md
Labels: none

ups
  .github/workflows/CIPythonValidations.yml
  .github/workflows/CIValidations.yml
Labels: CI/CD

Update README.md
  README.md
Labels: none

expand readme after chat with Anezka and minor tweaks for LLH scan
  README.md
  Tutorial/LLHScanTutorial.cpp
  plotting/PlottingConfig.yaml
Labels: Tutorial

tidy configs
  Inputs/ManagerTest.yaml
  plotting/universalTranslator.yaml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update CI
  .github/workflows/CIValidations.yml
Labels: CI/CD

furhtr name changes
  CIValidations/FitterValidations.cpp
  CIValidations/NuMCMCvalidations.sh
  CIValidations/PythonTests/test_fitter_sample_pdf.py
  CIValidations/SplineValidations.cpp
  CMakeLists.txt
  Inputs/FitterConfig.yaml
  Inputs/MC/NuWro_FlatTree.root
  Inputs/MC/SplineFile.root
  Inputs/NuOscillator/Prob3ppLinear.yaml
  Inputs/SamplePDF_Tutorial.yaml
  Inputs/SystematicModel.yaml
  README.md
  Tutorial/TutorialDiagConfig.yaml
Labels: Tutorial, Cmake, python

finish name changes for now
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  Inputs/FitterConfig.yaml
Labels: none

Make simple CLI which allow to quickly call all CI tests
  .github/workflows/CIValidations.yml
  CIValidations/CMakeLists.txt
  CIValidations/MaCh3CLI
  README.md
Labels: CI/CD

ups forgot to change it here
  .github/workflows/CIPythonValidations.yml
Labels: CI/CD

thansk linter
  README.md
Labels: none

ups...
  .github/workflows/CIValidations.yml
Labels: CI/CD

Forgot to update plots
  README.md
Labels: none

Bump Version
  CMakeLists.txt
Labels: Cmake

start using binned osc calc
  Inputs/NuOscillator/ExampleAtmosphericBinning.root
  Inputs/NuOscillator/NuFASTLinear.yaml
  Inputs/NuOscillator/Prob3ppLinear.yaml
Labels: none

make very simple CI checking p value code
  CIValidations/CMakeLists.txt
  CIValidations/MaCh3CLI
  CIValidations/pValueValidations.cpp
Labels: none

use logger
  CIValidations/pValueValidations.cpp
  README.md
Labels: none

let's see of codecov will work
  CIValidations/CMakeLists.txt
  CMakeLists.txt
Labels: Cmake

testing codecov
  .github/workflows/CIValidations.yml
Labels: CI/CD

...
  .github/workflows/CIValidations.yml
Labels: CI/CD

why...
  CMakeLists.txt
Labels: Cmake

why
  .github/workflows/CIValidations.yml
  CMakeLists.txt
Labels: Cmake, CI/CD

again...
  .github/workflows/CIValidations.yml
Labels: CI/CD

.github/labeler.yml:

# For more see: https://github.com/actions/labeler?tab=readme-ov-file#pull-request-labeler
Validations:
  - changed-files:
      - any-glob-to-any-file: 
          - Apps/**

Tutorial:
  - changed-files:
      - any-glob-to-any-file:
          - Tutorial/**

Documentation:
  - changed-files:
      - any-glob-to-any-file: 
          - Doc/**
Cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**
          - CMakeLists.txt

CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

python:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.py'
