Repository mach3-software/MaCh3Tutorial, changes with the labels that .github/labeler.yml gives for each.
All labels: Validations, Tutorial, Documentation, Cmake, CI/CD, python

another try
  .github/workflows/CIValidations.yml
Labels: CI/CD

another try
  .github/workflows/CIValidations.yml
Labels: CI/CD

maybe now
  .github/workflows/CIValidations.yml
Labels: CI/CD

Add licence
  LICENSE.txt
Labels: none

ups wasn't setting param
  samplePDF/samplePDFTutorial.cpp
Labels: none

maybe not
  samplePDF/samplePDFTutorial.cpp
Labels: none

impelemnt CI for wacky adaptive
  CIValidations/CovarianceValidations.cpp
Labels: none

Removing oscillation and xsec cov setting
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: none

quick fixes...
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  CIValidations/pValueValidations.cpp
Labels: none

fixing constructor to initialise osc_cov to be null if not specified
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: none

small fix to MaCh3CLI script to work if you are using a local build of MaCh3 core as well
  CIValidations/MaCh3CLI
Labels: none

small fixes to the validation scripts which I'd previously missed
  CIValidations/FitterValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  CIValidations/pValueValidations.cpp
Labels: none

adding in some more messages to make it clear which versions of MaCh3 core you are using, whether local or checking out remotely
  CMakeLists.txt
Labels: Cmake

accidentally changed the MaCh3 branch to checkout
  CMakeLists.txt
Labels: Cmake

Update CMakeLists.txt
  CMakeLists.txt
Labels: Cmake

write how to do LLH comparison
  README.md
Labels: none

if tag exist and version not specyfied grab tutoria version correspidning to the tag. This will allow tags of tutorial to be more easyli accesible wihtout a need of manyually selecting branch
  CMakeLists.txt
Labels: Cmake

first commit of splines folder where BinnedSpline class will live
  splines/BinnedSplinesTutorial.cpp
  splines/BinnedSplinesTutorial.h
Labels: none

using FLOAT_T so that this doesn't cause a problem when using the low_memory_structs option
  CIValidations/NuOscillatorInterfaceValidations.cpp
Labels: none

add relase template to tutorial as well
  .github/release.yml
Labels: CI/CD

Fix norm params in tutorial
  Inputs/SystematicModel.yaml
  samplePDF/samplePDFTutorial.cpp
Labels: none

Bump Version
  CMakeLists.txt
Labels: Cmake

Remove relase.yml as it is casuing problems
  .github/release.yml
Labels: CI/CD

Update Covariance validations update so the matrix blocks now live within covariance objects rather than needing a separate category
  CIValidations/CovarianceValidations.cpp
Labels: none

implment LLH CI
  CIValidations/CMakeLists.txt
  CIValidations/FitterValidations.cpp
  CIValidations/LLHValidation.cpp
  CIValidations/MaCh3CLI
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/TestOutputs/LLHOut.txt
  CIValidations/pValueValidations.cpp
  CMakeLists.txt
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial, Cmake

some tidy of SamplePDF
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: none

after recent issue with step rposposal let's make expadned CI which actually checks if out sto propsoal haven't changed
  CIValidations/CovarianceValidations.cpp
  CIValidations/TestOutputs/CovarianceOut.txt
Labels: none

now start testing also all avaailable test statistics
  CIValidations/SamplePDFValidations.cpp
Labels: none

.github/labeler.yml:

# For more see: https://github.com/actions/labeler?tab=readme-ov-file#pull-request-labeler
Validations:
  - changed-files:
      - any-glob-to-any-file: 
          - Apps/**

Tutorial:
  - changed-files:
      - any-glob-to-any-file:
          - Tutorial/**

Documentation:
  - changed-files:
      - any-glob-to-any-file: 
          - Doc/**
Cmake:
  - changed-files:
      - any-glob-to-any-file:
          - cmake/**
          - CMakeLists.txt

CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

python:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.py'
