Repository mach3-software/MaCh3Tutorial, pull requests merged in 2024-10, with the labels that each got.

#28 Bump MaCh3Tutorial_VERSION to 1.2.0
  .github/workflows/CDImage.yml
  CMakeLists.txt
  Doc/DockerFiles/Alma9/Dockerfile
Labels: Documentation, CI/CD, Cmake

#27 Test of Factory
  .github/workflows/Linter.yml
  Apps/FitterValidations.cpp
  CMakeLists.txt
  Inputs/ManagerTest.yaml
Labels: Validations, CI/CD, Cmake

#29 Fixign NuMCMC Tool CI
  Apps/NuMCMCconversion.cpp
  Apps/TestNuMCMC.py
  CMakeLists.txt
Labels: Validations, python, Cmake

#30 Start From Previous CI
  Apps/FitterValidations.cpp
Labels: Validations

#31 App->CIValidaitions and some tweaks to NuMCMC Tools
  Apps/NuMCMCconversion.cpp
  CIValidations/CMakeLists.txt
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/NuMCMCconversion.cpp
  CIValidations/NuMCMCvalidations.sh
  CIValidations/Scripts/CreateSplineFile.cpp
  CIValidations/Scripts/FilterFiles.cpp
  CIValidations/SplineValidations.cpp
  CIValidations/TestNuMCMC.py
  CIValidations/TestOutputs/CovarianceOut.txt
  CIValidations/TestOutputs/MaCh3ModeOut.txt
  CIValidations/TestOutputs/SplineMonoOut.txt
  CMakeLists.txt
Labels: Validations, python, Cmake

#34 Use Standard
  CMakeLists.txt
Labels: Cmake

#33 Feature/removeroot fixint
  CMakeLists.txt
  Utils/SplineMonoUtils.cpp
Labels: Cmake
