Repository mach3-software/MaCh3Tutorial, pull requests merged in 2024-11, with the labels that each got.

#37 Use SamplePDF Factory
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial

#41 Python CI Tests
  CIValidations/PythonTests/__init__.py
  CIValidations/PythonTests/conftest.py
  CIValidations/PythonTests/requirements.txt
  CIValidations/PythonTests/test_fitter_sample_pdf.py
  CIValidations/PythonTests/test_fitter_stat_only.py
  CIValidations/PythonTests/test_splines.py
  Inputs/SystematicsTest.yaml
Labels: python

#42 Proper Tutorial for Implementing Samples etc
  CIValidations/FitterValidations.cpp
  Inputs/ManagerTest.yaml
  README.md
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
Labels: Tutorial

#43 Expand Tutorial
  .github/workflows/CIPythonValidations.yml
  .github/workflows/CIValidations.yml
  README.md
Labels: CI/CD

#45 Tweaks
  README.md
  Tutorial/LLHScanTutorial.cpp
  plotting/PlottingConfig.yaml
Labels: Tutorial

#46 Tidy
  .github/workflows/CIValidations.yml
  Inputs/ManagerTest.yaml
  README.md
  plotting/universalTranslator.yaml
Labels: CI/CD

#48 Expand (again) Tutorial
  .github/workflows/CIPythonValidations.yml
  .github/workflows/CIValidations.yml
  CIValidations/CMakeLists.txt
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/MaCh3CLI
  CIValidations/NuMCMCvalidations.sh
  CIValidations/PythonTests/test_fitter_sample_pdf.py
  CIValidations/SamplePDFValidations.cpp
  CIValidations/SplineValidations.cpp
  CMakeLists.txt
  Inputs/FitterConfig.yaml
  Inputs/MC/NuWro_FlatTree.root
  Inputs/MC/SplineFile.root
  Inputs/NuOscillator/Prob3ppLinear.yaml
  Inputs/SamplePDF_Tutorial.yaml
  Inputs/SystematicModel.yaml
  README.md
  Tutorial/TutorialDiagConfig.yaml
Labels: Tutorial, CI/CD, python, Cmake

#47 fix to work with other shells than bash
  cmake/Templates/setup.MaCh3Tutorial.sh.in
Labels: Cmake
