Repository mach3-software/MaCh3Tutorial, pull requests merged in 2025-02, with the labels that each got.

#81 feat: Add lib64 to LD_LIBRARY_PATH
  cmake/Templates/setup.MaCh3Tutorial.sh.in
Labels: Cmake

#86 feat: native support
  CMakeLists.txt
Labels: Cmake

#87 feat: Update MaCh3 Modes
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/TestOutputs/MaCh3ModeOut.txt
  CMakeLists.txt
  README.md
  TutorialConfigs/MaCh3Modes.yaml
  cmake/Templates/setup.MaCh3Tutorial.sh.in
  splines/BinnedSplinesTutorial.cpp
Labels: Validations, Cmake

#88 feat: Improve Readme
  CIValidations/pValueValidations.cpp
  README.md
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: Validations

#89 Draft: Move all SK functionality into core
  CIValidations/MaCh3ModeValidations.cpp
  TutorialConfigs/MaCh3Modes.yaml
  TutorialConfigs/Samples/SamplePDF_Tutorial.yaml
  TutorialConfigs/Samples/SamplePDF_Tutorial_ATM.yaml
  samplePDF/samplePDFTutorial.h
Labels: Validations, Cmake

#95 feat: Add SplineSuffix to MaCh3Modes object
  CIValidations/TestOutputs/MaCh3ModeOut.txt
  TutorialConfigs/MaCh3Modes.yaml
  samplePDF/StructsTutorial.h
  samplePDF/samplePDFTutorial.cpp
  splines/BinnedSplinesTutorial.cpp
  splines/BinnedSplinesTutorial.h
Labels: Validations

#98 bugfix: Actually use the interpolation type in the binned splines
  CIValidations/TestOutputs/LLHOut.txt
  splines/BinnedSplinesTutorial.cpp
Labels: Validations

#93 bugfix: Add lib64 only if exist
  cmake/Templates/setup.MaCh3Tutorial.sh.in
Labels: Cmake

#97 tidy: Update MaCh3Modes
  CMakeLists.txt
  TutorialConfigs/MaCh3Modes.yaml
Labels: Cmake

#101 feat: Sigma Var CI
  CIValidations/CMakeLists.txt
  CIValidations/MaCh3CLI
  CIValidations/SigmaVarValidations.cpp
Labels: Validations
