Repository mach3-software/MaCh3Tutorial, pull requests merged in 2025-01, with the labels that each got.

#64 More DetID checks
  CIValidations/CovarianceValidations.cpp
  CIValidations/README.md
  CIValidations/TestOutputs/CovarianceOut.txt
  CIValidations/UnitTests/manager_tests.cpp
Labels: Validations

#65 feat: Histogram Utils CI
  CIValidations/MaCh3CLI
  CIValidations/UnitTests/CMakeLists.txt
  CIValidations/UnitTests/histogram_tests.cpp
  cmake/Modules/mach3tutorial-config.cmake
  cmake/Templates/mach3tutorial-config.in
Labels: Validations, Cmake

#67 tidy: cmake build
  .github/workflows/CIPythonValidations.yml
  .github/workflows/CIValidations.yml
  .github/workflows/CodeQL.yml
  CMakeLists.txt
  cmake/Modules/CIValidations.cmake
Labels: CI/CD, Cmake

#68 Benchmarking
  CIValidations/Benchmark/CMakeLists.txt
  CIValidations/Benchmark/MaCh3Benchmark.cpp
  CIValidations/CMakeLists.txt
  CMakeLists.txt
  cmake/Modules/CIValidations.cmake
Labels: Validations, CI/CD, Cmake

#69 tiddy: Improve Diag MCMC description
  CIValidations/MaCh3CLI
  README.md
Labels: Validations

#70 feat: Werror
  CMakeLists.txt
  Utils/CMakeLists.txt
  Utils/SplineMonoUtils.cpp
  samplePDF/CMakeLists.txt
  samplePDF/samplePDFTutorial.cpp
  splines/BinnedSplinesTutorial.cpp
  splines/CMakeLists.txt
Labels: Cmake

#66 feat: ATM support
  CIValidations/Scripts/FilterFiles.cpp
  CMakeLists.txt
  Inputs/FitterConfig.yaml
  Inputs/MC/NuWro_FlatTree_ATM.root
  Inputs/NuOscillator/CUDAProb3.yaml
  Inputs/SamplePDF_Tutorial_ATM.yaml
  README.md
  samplePDF/StructsTutorial.h
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: Validations, Cmake

#71 breaking: New DetId treatment
  CIValidations/CovarianceValidations.cpp
  CIValidations/TestOutputs/CovarianceOut.txt
  CMakeLists.txt
  Inputs/Osc_Test.yaml
  Inputs/PCATest.yaml
  Inputs/SamplePDF_Tutorial.yaml
  Inputs/SystematicModel.yaml
  samplePDF/samplePDFTutorial.cpp
Labels: Validations, Cmake

#72 ATM DetId update
  CIValidations/CovarianceValidations.cpp
  CIValidations/SamplePDFValidations.cpp
  Inputs/FitterConfig.yaml
  Inputs/Osc_Test.yaml
  Inputs/SamplePDF_Tutorial_ATM.yaml
  README.md
Labels: Validations, Cmake

#76 bugfix: Remove a semicolon that caused a -Werror=pedantic issue
  samplePDF/StructsTutorial.h
Labels: bug

#77 feat: Testing good dog
  .github/workflows/Linter.yml
Labels: CI/CD
