Repository mach3-software/MaCh3Tutorial, pull requests merged in 2025-05, with the labels that each got.

#117 feat: Shared NuOsc CI
  CIValidations/SamplePDFValidations.cpp
  samplePDF/samplePDFTutorial.cpp
  samplePDF/samplePDFTutorial.h
Labels: Validations

#121 breaking: renaming of classes
  .gitignore
  CIValidations/Benchmark/CMakeLists.txt
  CIValidations/Benchmark/MaCh3Benchmark.cpp
  CIValidations/CMakeLists.txt
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/NuMCMCconversion.cpp
  CIValidations/SamplePDFValidations.cpp
  CIValidations/SigmaVarValidations.cpp
  CIValidations/pValueValidations.cpp
  CMakeLists.txt
  README.md
  SamplesTutorial/CMakeLists.txt
  SamplesTutorial/SampleHandlerTutorial.cpp
  SamplesTutorial/SampleHandlerTutorial.h
  SamplesTutorial/StructsTutorial.h
  SplinesTutorial/BinnedSplinesTutorial.cpp
  SplinesTutorial/BinnedSplinesTutorial.h
  SplinesTutorial/CMakeLists.txt
  Tutorial/CMakeLists.txt
  Tutorial/KinemDistributionTutorial.cpp
  Tutorial/LLHScanTutorial.cpp
  Tutorial/MCMCTutorial.cpp
  TutorialConfigs/FitterConfig.yaml
  TutorialConfigs/Samples/SampleHandler_Tutorial.yaml
  TutorialConfigs/Samples/SampleHandler_Tutorial_ATM.yaml
  Utils/Comparison.h
  Utils/SplineMonoUtils.h
  samplePDF/CMakeLists.txt
  splines/BinnedSplinesTutorial.h
Labels: Tutorial, Validations, Cmake

#119 feat: Yaml modifcation CI
  CIValidations/CovarianceValidations.cpp
Labels: Validations

#122 feat: Path Independent CI
  CIValidations/CovarianceValidations.cpp
  CIValidations/FitterValidations.cpp
  CIValidations/LLHValidation.cpp
  CIValidations/MaCh3ModeValidations.cpp
  CIValidations/SigmaVarValidations.cpp
  CIValidations/SplineValidations.cpp
  CIValidations/pValueValidations.cpp
Labels: Validations

#123 feat: Tweaks For Osc Handler
  CIValidations/SamplePDFValidations.cpp
  CMakeLists.txt
  SamplesTutorial/SampleHandlerTutorial.cpp
  SamplesTutorial/SampleHandlerTutorial.h
Labels: Validations, Cmake

#127 tidy: Update PCA Handler Interface
  CIValidations/CovarianceValidations.cpp
Labels: Validations

#126 feat: Tune Validations CI
  CIValidations/CovarianceValidations.cpp
  CIValidations/TestOutputs/CovarianceOut.txt
  TutorialConfigs/CovObjs/OscillationModel.yaml
  TutorialConfigs/CovObjs/PCATest.yaml
  TutorialConfigs/CovObjs/SystematicModel.yaml
Labels: Validations

#129 feat: Proper Adaption CI
  CIValidations/CovarianceValidations.cpp
  CIValidations/TestOutputs/CovarianceOut.txt
  CMakeLists.txt
Labels: Validations, Cmake

#133 feat: Benchmark Bot
  .github/workflows/CIBenchmark.yml
  CMakeLists.txt
  Tutorial/CMakeLists.txt
Labels: Tutorial, CI/CD, Cmake
